
@{
    ViewBag.Title = "Get_Book";
}

<div style="margin-left:40%">
    <h3>Вывод книги</h3>
    <form method="post" action="Post_Book">
        <table>
            <tr>
                <td><p>Введите имя книги:</p></td>
                <td><input type="text" name="Name" /> </td>
            </tr>
            <tr>
                <td><p>Введите автора:</p></td>
                <td>
                    <input type="text" name="Autor" />
                </td>
            </tr>
            <tr><td><input type="submit" value="Ок" /> </td><td></td></tr>
        </table>
    </form>
</div>

